*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#010130;
}
header{
    background: white;
    padding: 20px;

}

header h1{
    text-align: center;
    color: #25272E;
    font-family:sans-serif;
}

.scoreBoard{
    width: 200px;
    margin:20px auto;
    border: 3px solid white;
    font-size: 46px;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    color: white;

}

.team{
    background: red;
    color: white;
    font-family: sans-serif;
    padding: 2px 10px;
    text-align: center;
    font-size: 14px;
}

#user-label{
    top: 35px;
    left: -25px;
    position: absolute;
}

#computer-label{
    top: 35px;
    right: -25px;
    position: absolute;
}

.score{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.result{
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-size: 42px;
}

.result p{
    padding:10px 20px;
}

.choices{
    margin: 50px auto;
    text-align: center;
}


.choices img{
    border: 2px white;
    text-align: center;
    margin: 10px 20px;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    border: 3px solid black;
    transition: all 0.2 ms;
}  
.choices img:hover{
    cursor: pointer;
    background: aqua;
} 
 .message{
     font-size: 20px;
     color: white;
     font-family: sans-serif;
     text-align: center;
     
 }

 .green-win{
     background: greenyellow;
 }


